.gallery {
  margin: 50px auto 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

.gallery__item {
  margin: 0;
  width: 282px;
  height: 361px;
  font-size: 0;
  position: relative;
}

.gallery__delete {
  background-image: url(../images/delete-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 18px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.gallery__delete:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.gallery__picture {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
}

.gallery__tagname {
  height: 79px;
  padding-left: 21px;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: white;
}

.gallery__name {
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__like {
  background-image: url("../images/love.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
}

.gallery__like_fill {
  background-image: url("../images/love-fill.svg");
}

.gallery__like:hover {
  opacity: 50%;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .gallery {
    margin: 36px auto 0;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 0;
  }

  .gallery__item {
    margin: 0 auto;
  }
}
