.photo {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
}

.photo__opened {
  visibility: visible;
  opacity: 1;
}

.photo__container {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}

.photo__close-button {
  background: url("../images/close-button.png");
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.photo__close-button:hover {
  opacity: 60%;
  transition: opacity 0.2s ease;
}

.photo__picture {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
}

.photo__name {
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .photo__close {
    width: 26px;
    height: 26px;
    right: 0;
  }
}
