.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibiltiy 0s, opacity 0.3s ease;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 430px;
  min-height: 330px;
  margin: 195px auto 0;
  padding: 34px 36px 0;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.popup__close {
  background: url("../images/close-button.png");
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 2;
}

.popup__close:hover {
  opacity: 60%;
  transition: opacity 0.2s ease;
}

.popup__title {
  margin: 0 0 54px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.popup__item {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.popup__item:invalid {
  border-bottom: 1px solid red;
}

.popup__item_occupation {
  position: absolute;
  left: 36px;
  bottom: 132px;
}

.popup__error {
  width: 358px;
  font-size: 12px;
  font-weight: 400;
  color: red;
}

.popup__error_occupation {
  position: absolute;
  left: 36px;
  top: 200px;
}

.popup__button {
  width: 358px;
  height: 50.15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 36px;
  bottom: 35px;
}

.popup__button:valid:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.popup__button_disabled {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.4);
  opacity: 0.3;
  cursor: default;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .popup__container {
    width: 282px;
    height: 322px;
    margin: 123px auto 0;
    padding: 25px 22px 0;
  }

  .popup__close {
    width: 26px;
    height: 26px;
    right: 0;
  }

  .popup__title {
    margin: 0 0 76px;
    font-size: 18px;
    font-weight: 21.7px;
  }

  .popup__item {
    margin: 0 0 30px;
    width: 238px;
  }

  .popup__button {
    margin: 20px 0 0;
    width: 238px;
  }
}
